#role-add-edit-dialog {

  .form-control.ng-select {
    border: none;
    padding: 0;
  }

  .ml-15 {
    padding-top: 15px;
  }

  .pl-1 {
    padding-left: 1rem;
  }

  .pl-3 {
    padding-left: 3rem;
  }

  .pt-3 {
    padding-top: 3rem;
  }

  .flex-class {
    display: flex;
  }

  .center {
    justify-content: center;
    align-items: center;
  }

}