#sidebar .sidebar-inner {
  width: 100%;

  .menu-arrow-top {
    margin-top: 6px !important;
  }

  .sub-menu-d-block {
    display: block;
  }
  .sub-menu-margin {
    margin-left: 10px;
  }

  .sub-menu-d-none {
    display: none;
  }
}
