.input-group-sm .p-inputtext {
  height: 2.1rem !important;
  font-size: 0.875rem;
}

.input-group-sm .p-inputgroupaddon {
  height: 2.1rem !important;
}

.custom-country-code .p-inputtext {
  height: 2.1rem !important;
  font-size: 0.875rem;
  width: 100%;
}
